@import "tailwindcss";
@import "@fontsource/geist/400.css";
@import "@fontsource/geist/500.css";
@import "@fontsource/geist/700.css";
@import "@fontsource/geist-mono/400.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  top: 1.5rem;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 50;
}

.link-under {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition:;
}
.link-under:hover {
  text-underline-offset: 2px;
}

.link-fade,
.link-under {
  transition:
    opacity 0.2s ease,
    text-underline-offset 0.2s ease;
}
.link-fade:hover {
  opacity: 0.8;
}

.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
}
